name: Build

on:
  push:
    branches:
      - '**'
    tags:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3

      - name: Install Rust
        uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af # v1
        with:
          toolchain: stable

      - name: Build project
        run: cargo build --release

      - name: Run tests
        run: cargo test

      - name: Create tarball
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          tar -czvf termai.tar.gz target/release/termai